.example-card {
  
max-width: 200px;
margin-bottom: 70px;
margin-left: 70px;
float:left;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/avatar.jpg');
  background-size: cover;
}